@font-face {
    font-family: 'starwars';
    src: url('font/DISTGRG_.ttf') format('truetype');
}

@font-face {
    font-family: 'sansation';
    src: url('font/Sansation-Regular.ttf') format('truetype');
}

body
{
  font-family: 'Trebuchet MS', Arial, sans-serif;
  color: #181818;
}

#bloc_page
{
  display:flex;
  background-color: #EEEEEE;
  max-width: 960px;
  margin: auto;
}


h1, h1 + p
{
    text-align: left;
}

img
{
    border-radius: 96px;
}

h1
{
font-family: 'starwars', Arial, serif;
text-transform: uppercase;
}

h2
{
font-family: 'starwars', Arial, serif;
text-transform: uppercase;
color: #6E4A46;
}

em
{
  color: #00ACC1;
  font-style: normal;
}

#liseret
{
    width: 30%;
    margin-right: 3%;
    height: 700px;
    background-color: #00ACC1;
    text-align: center;
}

#contact
{
  display:flex;
  justify-content:space-around;
}

#loisirs
{
  display:flex;
  justify-content: space-around;
}

#contenu
{
    width: 70%;
}

#logos_contact
{
  text-align: center;
  margin-left: 5px;
}

@media all and (max-width: 1024px)
{
    #liseret
    {
        display: none;
    }

    #contenu
    {
        width: auto;
    }

    section
    {
        display: block;
        width:auto;
    }
