@font-face {
  font-family: 'Montserrat';
  src: url('font/Montserrat-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'sansation';
  src: url('font/Sansation-Regular.ttf') format('truetype');
}

body
{
  font-family: 'Montserrat', Arial, sans-serif;
  color: #181818;
  font-size: 1em;
}

#bloc_page
{
  display:flex;
  background-color: #EEEEEE;
  max-width: 960px;
  margin: auto;
}


h1, h1 + p
{
  text-align: left;
  line-height: 0.8em;
}

.photo
{
  margin-top: 5px;
  border-radius: 96px;
  border-width:2px;
  border-style:double;
  border-color:#1E88E5;
}

h1
{
  text-transform: uppercase;
  font-size: 1.6em;
}

.cote
{
  background-color: #5D4037;
  color: #00ACC1;
}

h2
{
  text-transform: uppercase;
  color: #6E4A46;
    font-size: 1.3em;
    line-height: 1.5em;
}

tr{
  line-height: 1em;
  font-size: 0,8em;
}

em
{
  color: #00ACC1;
  font-style: normal;
}

#liseret
{
  width: 30%;
  margin-right: 3%;
  height: 700px;
  background-color: #00ACC1;
  text-align: center;
}

#perso2, #fun2, #A_propos2
{
  display:none;
}

.loisirs
{
  display:flex;
  justify-content: space-around;
}

#contenu
{
  width: 70%;
}

table
{
  border-spacing: 10px;
}

.logo
{
  height: 30px;
}

a:link
{
  text-decoration: none;
  color:black;
}

a:visited
{
color:black;
}

p
{
  padding-left: 6px;
  padding-right: 6px;
}

@media all and (max-width: 1024px)
{
  #bloc_page
  {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EEEEEE;
    max-width: 960px;
    margin: auto;
  }

#liseret
{
  width:100%;
  height:auto;
}

#perso, #A_propos, #fun
{
  display:none;
}

#contenu
{
  display:flex;
  flex-direction: column;
  width:100%;
  height:auto;
}

#nom
{
  display:flex;
  flex-direction: column;
  align-items: center;
}

#perso2, #fun2, #A_propos2
{
  display:block;
text-align: left;
}

}
